html * {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .Game {
    text-align: center;
  }
  
  .Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 3opx;
  }
  
  .Team .nameOfTheTeams {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Team img {
    max-width: 200px;
  }
  
  .game {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Between {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Between h1 {
    font-family:cursive;
    font-size: 400%;
    color:aqua;
    text-shadow: 3px 2px 0 rgb(80, 72, 72);
  }
  
  button {
    display: block;
    margin-top: 1px;
    width: 100%;
    padding: 1px;
    background-color: rgb(92, 12, 221);
    border: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    box-shadow: 3px 3px 2px rgb(46, 45, 45);
  }